### Integer

In [1]:
a= 10
b= -5

In [2]:
c= a + b
print(c)

5

### Float = Decimal

In [4]:
d = 1.40
e = 2.50

In [5]:
f = d + e
print(f)

3.9

### Kompleks

In [6]:
g = 10 + 2*a
h = 5 - 3*b
print(g + h)

50

### Boolean = True/False, YES/NO, 0/1

In [7]:
Jokowi = True
Prabowo = False

### String = Teks

In [9]:
Name = "Marsha"
print(Name)

Marsha

### List = Menyimpan elemen yang kita ingin gunakan

In [10]:
# Untuk menyimpan beberapa data dalam satu variabel

# List Strings
fruit = ["Apple", "Banana", "Cherry"]
print(fruit)

# List Numbers
numbers = [1, 2, 3, 4, 5]
print(numbers)

['Apple', 'Banana', 'Cherry']
[1, 2, 3, 4, 5]

### Mixed List

In [11]:
mixed = ["Apple", 1, True, 2.5]
print(mixed)

['Apple', 1, True, 2.5]

### Range

In [12]:
num = (1, 2, 3, 4, 5)
print(num)

for x in range(num[0], num[-1]+1):
    print(x)

data = range(0, 11)
print(list(data))

(1, 2, 3, 4, 5)
1
2
3
4
5
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Event = Kelipatan

In [13]:
event = range(2, 21, 2)
print(list(event))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Dictionary = Pustaka/Kamus untuk menyimpan beberapa informasi

In [14]:
dict_data = {"Nama": "Marsha",
"Umur": 17,
"Kota": "Waingapu",
"Status": "Mahasiswa"
}
print(dict_data)
print(dict_data["Nama"], dict_data["Umur"])

{'Nama': 'Marsha', 'Umur': 17, 'Kota': 'Waingapu', 'Status': 'Mahasiswa'}
Marsha 17

### Import

In [ ]:
import sys
!{sys.executable} -m pip install pandas

In [1]:
import pandas as pd

data = pd.read_csv("/Users/macbookair/Downloads/test.csv", sep=";")

print(data)

                     Provinsi  Garis Kemiskinan - Maret (Rp)  \
0                        Aceh                         661227
1              Sumatera Utara                         642423
2              Sumatera Barat                         708416
3                        Riau                         697296
4                       Jambi                         650115
5            Sumatera Selatan                         554197
6                    Bengkulu                         671095
7                     Lampung                         586551
8   Kepulauan Bangka Belitung                         908397
9              Kepulauan Riau                         787211
10                DKI Jakarta                         825288
11                 Jawa Barat                         524052
12                Jawa Tengah                         507001
13              DI Yogyakarta                         602437
14                 Jawa Timur                         536122
15                     Banten                         654213
16                       Bali                         568510
17        Nusa Tenggara Barat                         534703
18        Nusa Tenggara Timur                         527275
19           Kalimantan Barat                         595509
20          Kalimantan Tengah                         623954
21         Kalimantan Selatan                         632739
22           Kalimantan Timur                         833955
23           Kalimantan Utara                         854294
24             Sulawesi Utara                         490719
25            Sulawesi Tengah                         600872
26           Sulawesi Selatan                         459226
27          Sulawesi Tenggara                         462715
28                  Gorontalo                         473006
29             Sulawesi Barat                         454879
30                     Maluku                         713503
31               Maluku Utara                         604460
32                Papua Barat                         793804
33           Papua Barat Daya                         756237
34                      Papua                         674371
35              Papua Selatan                         519979
36               Papua Tengah                         764115
37           Papua Pegunungan                        1007060
38                  Indonesia                         582932

   Garis Kemiskinan - September (Rp)  \
0                             665855
1                             648336
2                             714991
3                             702620
4                             658100
5                             564462
6                             672816
7                             599018
8                             917673
9                             807602
10                            846085
11                            535509
12                            521093
13                            613370
14                            547751
15                            667403
16                            580306
17                            540339
18                            533944
19                            611320
20                            641524
21                            644107
22                            853997
23                            876375
24                            511710
25                            608687
26                            467991
27                            473343
28                            487578
29                            460283
30                            739818
31                            639337
32                            816613
33                            791570
34                            708811
35                               ...
36                               ...
37                               ...
38                            595242

   Jumlah Penduduk Miskin - Maret (ribu) (Ribu)  \
0                                     804.53.00
1                                    1228.01.00
2                                        345.73
3                                     492.25.00
4                                     265.42.00
5                                     984.24.00
6                                     281.36.00
7                                     941.23.00
8                                         69.95
9                                     138.03.00
10                                       464.93
11                                      3848.67
12                                   3704.33.00
13                                    445.55.00
14                                      3982.69
15                                       791.61
16                                    184.43.00
17                                    709.01.00
18                                   1127.57.00
19                                    336.08.00
20                                       145.63
21                                    183.31.00
22                                    221.34.00
23                                        47.83
24                                       186.86
25                                       379.76
26                                    736.48.00
27                                       319.71
28                                       177.99
29                                    162.19.00
30                                       297.68
31                                     83.09.00
32                                    110.16.00
33                                    102.27.00
34                                       152.91
35                                     92.02.00
36                                    308.48.00
37                                    365.44.00
38                                      25219.2

   Jumlah Penduduk Miskin - September (ribu) (Ribu)  \
0                                            718.96
1                                           1110.92
2                                         315.43.00
3                                         473.04.00
4                                         272.07.00
5                                            948.84
6                                         261.15.00
7                                         939.03.00
8                                          78.58.00
9                                            124.96
10                                        449.07.00
11                                       3668.35.00
12                                       3396.34.00
13                                        430.47.00
14                                          3893.82
15                                        777.49.00
16                                        176.21.00
17                                        658.06.00
18                                          1107.94
19                                           333.99
20                                        149.24.00
21                                        180.02.00
22                                           211.88
23                                         41.11.00
24                                        173.03.00
25                                        358.33.00
26                                           711.77
27                                        305.27.00
28                                        170.03.00
29                                           155.91
30                                           293.99
31                                            79.69
32                                        108.28.00
33                                            96.81
34                                        161.07.00
35                                              ...
36                                              ...
37                                              ...
38                                         24054.72

   Persentase Penduduk Miskin - Maret Persentase Penduduk Miskin - September
0                               14.23                            0,544444444
1                         0,360416667                                  07.19
2                         0,275694444                                  05.42
3                         0,296527778                                  06.36
4                               07.01                                  07.26
5                         0,484027778                                  10.51
6                               13.56                                  12.52
7                         0,464583333                            0,459722222
8                               04.55                                  05.08
9                               05.37                            0,220833333
10                              04.03                                  04.14
11                              07.46                                  07.08
12                              10.47                                  09.58
13                        0,474305556                                  10.04
14                        0,429861111                                  09.56
15                        0,266666667                                  05.07
16                                  4                                  03.08
17                        0,563194444                            0,521527778
18                              19.48                                  19.02
19                              06.32                                  06.25
20                              05.17                                  05.26
21                              04.11                                  04.02
22                             0,2625                                  05.51
23                              06.32                                  05.38
24                              07.25                                  06.07
25                        0,511805556                                  11.04
26                              08.06                            0,345138889
27                              11.21                            0,460416667
28                              14.57                            0,602083333
29                              11.21                            0,465972222
30                              16.05                            0,679166667
31                              06.32                                  06.03
32                        0,920833333                                  21.09
33                              18.13                            0,732638889
34                              17.26                                  18.09
35                              17.44                                  19.35
36                              29.76                               27.06.00
37                              32.97                                  29.66
38                              09.03                                  08.57

### Data Frame

In [2]:
import pandas as pd
# Data frame dari dictionary
data_start = {
    "Nama": ["Marsha", "Budi", "Siti", "Ani"],
    "Umur": [17, 21, 19, 22],
    "Kota": ["Waingapu", "Bandung", "Surabaya", "Medan"],
    "Status": ["Mahasiswa", "Mahasiswa", "Mahasiswa", "Mahasiswa"]
}

df = pd.DataFrame(data_start)
print(df)

     Nama  Umur      Kota     Status
0  Marsha    17  Waingapu  Mahasiswa
1    Budi    21   Bandung  Mahasiswa
2    Siti    19  Surabaya  Mahasiswa
3     Ani    22     Medan  Mahasiswa

In [3]:
# Data frame dari list of lists
data_finish = [
    ["Marsha", 17, "Waingapu", "Mahasiswa"],
    ["Budi", 21, "Bandung", "Mahasiswa"],
    ["Siti", 19, "Surabaya", "Mahasiswa"],
    ["Ani", 22, "Medan", "Mahasiswa"]
]
df2 = pd.DataFrame(data_finish, columns=["Nama", "Umur", "Kota", "Status"])
print(df2)
print(" ")
print(df2.columns.to_list())
print(" ")
df2.columns = ["Nama", "Umur", "Kota", "Yehey"]
print(df2)

     Nama  Umur      Kota     Status
0  Marsha    17  Waingapu  Mahasiswa
1    Budi    21   Bandung  Mahasiswa
2    Siti    19  Surabaya  Mahasiswa
3     Ani    22     Medan  Mahasiswa

['Nama', 'Umur', 'Kota', 'Status']

     Nama  Umur      Kota      Yehey
0  Marsha    17  Waingapu  Mahasiswa
1    Budi    21   Bandung  Mahasiswa
2    Siti    19  Surabaya  Mahasiswa
3     Ani    22     Medan  Mahasiswa

In [4]:
print(df2[["Nama", "Umur"]])

     Nama  Umur
0  Marsha    17
1    Budi    21
2    Siti    19
3     Ani    22

In [5]:
print(df2.iloc[0])
print(df2.iloc[1])

Nama        Marsha
Umur            17
Kota      Waingapu
Yehey    Mahasiswa
Name: 0, dtype: object
Nama          Budi
Umur            21
Kota       Bandung
Yehey    Mahasiswa
Name: 1, dtype: object