### Deskripsi Data

Data tersebut menampilkan rata-rata lama sekolah penduduk usia 15 tahun ke atas di 38 provinsi di Indonesia dalam satuan tahun. Angka ini menunjukkan rata-rata jumlah tahun yang telah ditempuh penduduk dalam pendidikan formal, sehingga dapat menggambarkan tingkat pencapaian pendidikan di masing-masing provinsi. Terlihat adanya variasi antarprovinsi, dengan beberapa daerah memiliki rata-rata lama sekolah di atas 10 tahun, sementara sebagian lainnya masih berada di bawah 9 tahun, serta rata-rata nasional Indonesia sebesar 9,22 tahun.

### Import & Preview Data

In [14]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [openpyxl]━━ 1/2 [openpyxl]
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [15]:
import pandas as pd

data = pd.read_excel("RLS.xlsx")

print(data)

             38 Provinsi  \
0                   ACEH
1         SUMATERA UTARA
2         SUMATERA BARAT
3                   RIAU
4                  JAMBI
5       SUMATERA SELATAN
6               BENGKULU
7                LAMPUNG
8   KEP. BANGKA BELITUNG
9              KEP. RIAU
10           DKI JAKARTA
11            JAWA BARAT
12           JAWA TENGAH
13         DI YOGYAKARTA
14            JAWA TIMUR
15                BANTEN
16                  BALI
17   NUSA TENGGARA BARAT
18   NUSA TENGGARA TIMUR
19      KALIMANTAN BARAT
20     KALIMANTAN TENGAH
21    KALIMANTAN SELATAN
22      KALIMANTAN TIMUR
23      KALIMANTAN UTARA
24        SULAWESI UTARA
25       SULAWESI TENGAH
26      SULAWESI SELATAN
27     SULAWESI TENGGARA
28             GORONTALO
29        SULAWESI BARAT
30                MALUKU
31          MALUKU UTARA
32           PAPUA BARAT
33      PAPUA BARAT DAYA
34                 PAPUA
35         PAPUA SELATAN
36          PAPUA TENGAH
37      PAPUA PEGUNUNGAN
38             INDONESIA

    Rata-Rata Lama Sekolah Penduduk Umur 15 Tahun ke Atas Menurut Provinsi
0                                                9.95
1                                               10.18
2                                                9.72
3                                                9.69
4                                                9.26
5                                                8.98
6                                                9.40
7                                                8.80
8                                                8.78
9                                               10.65
10                                              11.49
11                                               9.24
12                                               8.47
13                                              10.23
14                                               8.69
15                                               9.55
16                                               9.87
17                                               8.50
18                                               8.48
19                                               8.28
20                                               9.17
21                                               9.02
22                                              10.22
23                                               9.58
24                                              10.02
25                                               9.28
26                                               9.22
27                                               9.74
28                                               8.64
29                                               8.56
30                                              10.44
31                                               9.70
32                                               9.87
33                                              10.48
34                                              10.70
35                                               8.99
36                                               6.17
37                                               5.10
38                                               9.22

### Split Kolom Data Menggunakan Iloc

In [13]:
import pandas as pd

df = pd.read_excel("RLS.xlsx")

df.head(39)

,38 Provinsi,Rata-Rata Lama Sekolah Penduduk Umur 15 Tahun ke Atas Menurut Provinsi
0,ACEH,9.95
1,SUMATERA UTARA,10.18
2,SUMATERA BARAT,9.72
3,RIAU,9.69
4,JAMBI,9.26
5,SUMATERA SELATAN,8.98
6,BENGKULU,9.40
7,LAMPUNG,8.80
8,KEP. BANGKA BELITUNG,8.78
9,KEP. RIAU,10.65
10,DKI JAKARTA,11.49
11,JAWA BARAT,9.24
12,JAWA TENGAH,8.47
13,DI YOGYAKARTA,10.23
14,JAWA TIMUR,8.69
15,BANTEN,9.55
16,BALI,9.87
17,NUSA TENGGARA BARAT,8.50
18,NUSA TENGGARA TIMUR,8.48
19,KALIMANTAN BARAT,8.28
20,KALIMANTAN TENGAH,9.17
21,KALIMANTAN SELATAN,9.02
22,KALIMANTAN TIMUR,10.22
23,KALIMANTAN UTARA,9.58
24,SULAWESI UTARA,10.02
25,SULAWESI TENGAH,9.28
26,SULAWESI SELATAN,9.22
27,SULAWESI TENGGARA,9.74
28,GORONTALO,8.64
29,SULAWESI BARAT,8.56
30,MALUKU,10.44
31,MALUKU UTARA,9.70
32,PAPUA BARAT,9.87
33,PAPUA BARAT DAYA,10.48
34,PAPUA,10.70
35,PAPUA SELATAN,8.99
36,PAPUA TENGAH,6.17
37,PAPUA PEGUNUNGAN,5.10
38,INDONESIA,9.22

In [14]:
# iloc ke 1 → Kolom Provinsi
iloc_1 = df.iloc[:, 0:1]

# iloc ke 2 → Kolom Rata_Rata
iloc_2 = df.iloc[:, 1:2]

In [15]:
iloc_1.head(39)

             38 Provinsi
0                   ACEH
1         SUMATERA UTARA
2         SUMATERA BARAT
3                   RIAU
4                  JAMBI
5       SUMATERA SELATAN
6               BENGKULU
7                LAMPUNG
8   KEP. BANGKA BELITUNG
9              KEP. RIAU
10           DKI JAKARTA
11            JAWA BARAT
12           JAWA TENGAH
13         DI YOGYAKARTA
14            JAWA TIMUR
15                BANTEN
16                  BALI
17   NUSA TENGGARA BARAT
18   NUSA TENGGARA TIMUR
19      KALIMANTAN BARAT
20     KALIMANTAN TENGAH
21    KALIMANTAN SELATAN
22      KALIMANTAN TIMUR
23      KALIMANTAN UTARA
24        SULAWESI UTARA
25       SULAWESI TENGAH
26      SULAWESI SELATAN
27     SULAWESI TENGGARA
28             GORONTALO
29        SULAWESI BARAT
30                MALUKU
31          MALUKU UTARA
32           PAPUA BARAT
33      PAPUA BARAT DAYA
34                 PAPUA
35         PAPUA SELATAN
36          PAPUA TENGAH
37      PAPUA PEGUNUNGAN
38             INDONESIA

In [16]:
iloc_2.index = iloc_1.index
iloc_2.head(39)

    Rata-Rata Lama Sekolah Penduduk Umur 15 Tahun ke Atas Menurut Provinsi
0                                                9.95
1                                               10.18
2                                                9.72
3                                                9.69
4                                                9.26
5                                                8.98
6                                                9.40
7                                                8.80
8                                                8.78
9                                               10.65
10                                              11.49
11                                               9.24
12                                               8.47
13                                              10.23
14                                               8.69
15                                               9.55
16                                               9.87
17                                               8.50
18                                               8.48
19                                               8.28
20                                               9.17
21                                               9.02
22                                              10.22
23                                               9.58
24                                              10.02
25                                               9.28
26                                               9.22
27                                               9.74
28                                               8.64
29                                               8.56
30                                              10.44
31                                               9.70
32                                               9.87
33                                              10.48
34                                              10.70
35                                               8.99
36                                               6.17
37                                               5.10
38                                               9.22

### Merge data berdasarkan Index

In [17]:
df_merge = pd.merge(
    iloc_1,
    iloc_2,
    left_index=True,
    right_index=True
)

df_merge.head(39)

,38 Provinsi,Rata-Rata Lama Sekolah Penduduk Umur 15 Tahun ke Atas Menurut Provinsi
0,ACEH,9.95
1,SUMATERA UTARA,10.18
2,SUMATERA BARAT,9.72
3,RIAU,9.69
4,JAMBI,9.26
5,SUMATERA SELATAN,8.98
6,BENGKULU,9.40
7,LAMPUNG,8.80
8,KEP. BANGKA BELITUNG,8.78
9,KEP. RIAU,10.65
10,DKI JAKARTA,11.49
11,JAWA BARAT,9.24
12,JAWA TENGAH,8.47
13,DI YOGYAKARTA,10.23
14,JAWA TIMUR,8.69
15,BANTEN,9.55
16,BALI,9.87
17,NUSA TENGGARA BARAT,8.50
18,NUSA TENGGARA TIMUR,8.48
19,KALIMANTAN BARAT,8.28
20,KALIMANTAN TENGAH,9.17
21,KALIMANTAN SELATAN,9.02
22,KALIMANTAN TIMUR,10.22
23,KALIMANTAN UTARA,9.58
24,SULAWESI UTARA,10.02
25,SULAWESI TENGAH,9.28
26,SULAWESI SELATAN,9.22
27,SULAWESI TENGGARA,9.74
28,GORONTALO,8.64
29,SULAWESI BARAT,8.56
30,MALUKU,10.44
31,MALUKU UTARA,9.70
32,PAPUA BARAT,9.87
33,PAPUA BARAT DAYA,10.48
34,PAPUA,10.70
35,PAPUA SELATAN,8.99
36,PAPUA TENGAH,6.17
37,PAPUA PEGUNUNGAN,5.10
38,INDONESIA,9.22

### Export Output

In [22]:
df_merge.to_csv("hasil_merge_RLS.csv", index=True)